{% extends 'base.html' %}

{% block conteudo-esquerda %}
<div class="home_page-esquerda">
    <section class="botao" style="margin-top: 35px;">
        <a class="botao-esquerda" href="#">+</a>
        <div class="botao-direita">
            <a href="#">Consulta</a>
            <a href="#">Animal</a>
            <a href="#">Tutor</a>
            <a href="#">Plano</a>
        </div> 
    </section>
    <section>
        <a class="links-principais" href="#">Administração</a>
    </section>
    <section>
        <a class="links-principais" href="{% url 'cirurgia' %}">Histórico de cirurgias</a>
    </section>
    <section>
        <a class="links-principais" href="{% url 'consulta' %}">Histórico de consultas</a>
    </section>
    <section>
        <a class="links-principais" href="{% url 'vacina' %}">Histórico de vacinas</a>
    </section>
    <section>
        <a class="links-principais" href="{% url 'index' %}">Animais cadastrados</a>
    </section>
    <section>
        <a class="links-principais-especial" href="{% url 'clientes' %}">Clientes cadastrados</a>
    </section>
    <section>
        <a class="links-principais" href="#">Tipos de plano</a>
    </section>
</div>
{% endblock %}

{%block conteudo-direita%}
<div class="home_page-direita">
    <section class="titulo">
        <p>Nome</p>
        <p>Telefone</p>
        <p>Email</p>
        <p>Data</p>
    </section>
    {% for cliente in clientes %}
    <section>
        <p>
            <a href="{% url 'ver_cliente' cliente.id %}">{{cliente.nome}}</a>
        </p>
        <p>
            <a href="{% url 'ver_cliente' cliente.id %}">{{cliente.telefone}}</a>
        </p>
        <p>
            <a href="{% url 'ver_cliente' cliente.id %}">{{cliente.email}}</a>
        </p>
        <p>
            <a href="{% url 'ver_cliente' cliente.id %}">{{cliente.data_criacao_tutor}}</a>
        </p>
    </section>
    {% endfor %}
</div>

{%endblock%}