{% extends 'base.html' %}

{% block conteudo-esquerda %}
<div class="home_page-esquerda">
    <section>
        <a class="botao" href="#">+</a>
    </section>
    <section>
        <a class="links-principais" href="#">Agenda</a>
    </section>
    <section>
        <a class="links-principais" href="#">Histórico</a>
    </section>
    <section>
        <a class="links-principais" href="#">Animais cadastrados</a>
    </section>
    <section>
        <a class="links-principais" href="#">Responsáveis cadastrados</a>
    </section>
    <section>
        <a class="links-principais" href="#">Tipos de plano</a>
    </section>
</div>
{% endblock %}

{% block conteudo-direita %}
<div class="home_page-direita">
    <section>
        <p>Data</p>
        <p>Espécie</p>
        <p>Animal</p>
        <p>Raça</p>
        <p>Responsável</p>
        <p>Motivo</p>
    </section>
    <section>
        <p>
            <a href="#">24/02/2020</a>
        </p>
        <p>
            <a href="#">Cão</a>
        </p>
        <p>
            <a href="#">Pitoco</a>
        </p>
        <p>
            <a href="#">Shitzu</a>
        </p>
        <p>
            <a href="#">Gabriela</a>
        </p>
        <p>
            <a href="#">Pata quebrada</a>
        </p>
    </section>
    <section>
        <p>
            <a href="#">24/02/2020</a>
        </p>
        <p>
            <a href="#">Cão</a>
        </p>
        <p>
            <a href="#">Pitoco</a>
        </p>
        <p>
            <a href="#">Shitzu</a>
        </p>
        <p>
            <a href="#">Gabriela</a>
        </p>
        <p>
            <a href="#">Pata quebrada</a>
        </p>
    </section>
    <section>
        <p>
            <a href="#">24/02/2020</a>
        </p>
        <p>
            <a href="#">Cão</a>
        </p>
        <p>
            <a href="#">Pitoco</a>
        </p>
        <p>
            <a href="#">Shitzu</a>
        </p>
        <p>
            <a href="#">Gabriela</a>
        </p>
        <p>
            <a href="#">Caiu do 9 andar e quebrou a costela</a>
        </p>
    </section>
    <section>
        <p>
            <a href="#">24/02/2020</a>
        </p>
        <p>
            <a href="#">Cão</a>
        </p>
        <p>
            <a href="#">Pitoco</a>
        </p>
        <p>
            <a href="#">Shitzu</a>
        </p>
        <p>
            <a href="#">Gabriela</a>
        </p>
        <p>
            <a href="#">Castração</a>
        </p>
    </section>
</div>
{% endblock %}