{% extends 'base.html' %}
{%block conteudo%}
<h1 class="mt-5">Meus clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Animal</th>
            <th>Raça</th>
            <th>Dono</th>
            <th>Telefone</th>
            <th>Plano</th>
        </tr>
    </thead>
    <tbody>

        {% for cliente in clientes %}
            {% if cliente.mostrar %}
                <tr>
                    <td>
                        <a href="{% url 'ver_cliente' cliente.id %}">{{ cliente.animal }}</a>
                    </td>
                    <td>{{ cliente.raca }}</td>
                    <td>{{ cliente.dono }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.plano }}</td>
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>
{%endblock%}